body {
    text-align: center;
}
.flexContainer {
    display: flex;
    flex: 1 1 auto;
}
.cell {
    border: 1px solid black;
    flex: 1;
}
#container {
    margin: auto;
    height: 650px;
    width: 650px;
    display: flex;
    flex-direction: column;
}
.color {
    background-color: black;
}